---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ certificate_name }}-ingress"
  namespace: {{ cert_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: {{ cluster_issuer_name }}
    acme.cert-manager.io/http01-ingress-class: {{ ingress_class_name }}
spec:
  tls:
    - hosts:
{% for d in domains %}
        - {{ d }}
{% endfor %}
      secretName: {{ certificate_secret }}
  rules:
{% for d in domains %}
    - host: {{ d }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ service_name }}
                port:
                  number: 80
{% endfor %}
