---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{item.name}}
  namespace: {{ item.namespace }}
spec:
  secretName: {{ item.tls_secret_name_map[env] }}
  issuerRef:
    name: {{item.cluster_issuer_name}}
    kind: ClusterIssuer
  dnsNames:
{% for d in cert_domains %}
    - {{ d }}
{% endfor %}

